(
    spritesheet_width: 64,
    spritesheet_height: 64,
    sprites: [
        // bricks
        (
            x: 0,
            y: 0,
            width: 16,
            height: 6,
        ),
        (
            x: 16,
            y: 0,
            width: 16,
            height: 6,
        ),
        (
            x: 32,
            y: 0,
            width: 16,
            height: 6,
        ),
        (
            x: 48,
            y: 0,
            width: 16,
            height: 6,
        ),
        (
            x: 0,
            y: 6,
            width: 16,
            height: 6,
        ),
        (
            x: 16,
            y: 6,
            width: 16,
            height: 6,
        ),
        (
            x: 32,
            y: 6,
            width: 16,
            height: 6,
        ),
        (
            x: 48,
            y: 6,
            width: 16,
            height: 6,
        ),
        // paddle
        (
            x: 0,
            y: 60,
            width: 32,
            height: 4,
        ),
        // ball
        (
            x: 32,
            y: 60,
            width: 4,
            height: 4,
        ),
    ],
)